body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em;
}

.box {
  width: 200px;
  height: 200px;
}

.text {
  border: 3px dashed #ff7a18;
  padding-inline: 40px;
}

.text1 {
  writing-mode: horizontal-tb;
}

.text2 {
  writing-mode: vertical-rl;
}
