$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-bin: "\e900";
$icon-search: "\e901";
$icon-notification: "\e902";
$icon-ticket: "\e912";
$icon-agent: "\e913";
$icon-article: "\e914";
$icon-contact: "\e915";
$icon-filter: "\e916";
$icon-idea: "\e917";
$icon-more: "\e918";
$icon-overview: "\e91b";
$icon-settings: "\e91d";
$icon-sort: "\e91e";
$icon-subscription: "\e91f";

