<!--* ALWAYS INLCUDE THIS CARD WITHIN A ROW  -->
<div class=" card-blog col-12  col-xl-4">
    <div class="border-maker pb-10 pb-xl-0">
        <div class="row">
            <!-- image part  -->
            <div class="col-12 col-md-5 col-xl-12">
                <div class="frame">
                    <img src="@@imageSource" alt="">
                </div>
            </div>

            <!-- content part  -->
            <div class="col-12 col-md-7 col-xl-12">
                <div class="wrapper">
                    <h5>@@cardTitle</h5>
                    <p>@@cardDescription</p>
                </div>
            </div>

        </div>
    </div>




</div>