<!-- card container           -->
<div class="row cta cta--@@cta.modifier @@cta.addClass ">



    <!-- cta content  -->
    <!-- <div class=""> -->
    <div class="col  cta__content cta__content--@@ctaContent.modifier @@ctaContent.addClass   ">
        <div class="content-wrapper content-wrapper--@@contentWrapper.modifier @@contentWrapper.addClass ">
            <!-- cta subheading  -->
            <h6 class="@@subHeading.addClass ">@@subHeading.textContent</h6>

            <!-- main heading -->
            <@@heading.tag class=" @@heading.addClass ">@@heading.textContent</@@heading.tag>

            <!-- cta date  -->
            <time class="cta__content__time @@time.addClass">@@time.textContent</time>

            <!-- cta paragraph  -->
            <p class="@@paragraph.addClass">@@paragraph.textContent</p>

            <!-- cta button  -->
            <a class="cta__button cta__button--@@button.modifier @@button.addClass" href="#">@@button.textContent <i class="@@button.icon"></i> </a>


        </div>
        <!-- </div> -->
    </div>

    <!-- Image/Video container  -->
    <div class="cta__frame @@ctaFrame.modifier @@ctaFrame.addClass  ">

        <h6 class="@@imageHeading.addClass ">@@imageHeading.textContent</h6>

        
        <div class="cta__frame__image cta__frame__image--@@image.modifier @@image.addClass " style="aspect-ratio:@@image.aspectRatio;"> <!--@ignore  -->
            <img src="@@image.source" alt="contact us">
        </div>



    </div>
</div>