<div class="container">
    <div class="leaflet leaflet--one">
        <div class="row   justify-content-between ">
            <!-- Image/Video container  -->
            <div class="leaflet__frame  col-12 col-md-6  ">
                <div class="leaflet__frame__image shadow-rose " style="aspect-ratio:620/465;"> <!--@ignore  -->
                    <img src="@@webRoot/images/home-image-2.jfif" alt="contact us">
                </div>
            </div>

            <div class="col  leaflet__content  col-12 col-md-6    ">
                <div class="content-wrapper mt-10 mt-md-0 mt-xl-13 ">
                    <h6 class="h6 mb-6 ">@@subHeading</h6>

                    <h4 class=" h4 mb-6 text-capitalize ">@@heading</h4>

                    <time class="leaflet__content__time d-inline-block">@@time</time>

                    <p class="body mb-6 ">@@paragraph</p>


                    <a class="button " href="#">@@ctaText <i class="icon-arrow-e"></i> </a>
                </div>

            </div>


        </div>
    </div>

</div>