<nav aria-label="Page navigation " class="pagination">
    <ul class="pagination-list">

        <li class="blog-page-item prev  ">
            <a class=" bg-black text-white" href="#">
                <i class="icon-arrow-w text"></i>
            </a>
        </li>
        <li class="blog-page-item mb-1 mx-1">
            <a class="blog-page-link active" href="#">1</a>
        </li>
        <li class="blog-page-item mb-1 mx-1">
            <a class="blog-page-link" href="#">2</a>
        </li>
        <li class="blog-page-item mb-1 mx-1">
            <a class="blog-page-link" href="#">3</a>
        </li>
        <li class="blog-page-item mb-1 mx-1">
            <a class="blog-page-link" href="#">4</a>
        </li>
        <li class="blog-page-item mb-1 mx-1">
            <a class="blog-page-link" href="#">5</a>
        </li>
        <li class="blog-page-item mb-1 mx-1">
            <a class="blog-page-link" href="#">6</a>
        </li>

        <li class="blog-page-item next ">
            <a class="bg-black text-white " href="#">
                <i class="icon-arrow-e "></i>
            </a>
        </li>
    </ul>
</nav>