<div class="container popular">
    <h6 class="mb-10">blogs</h6>
    <h2 class="mb-10">Popular Blogs</h2>
    <p class="mb-10">Ut rutrum ligula quis ultricies vestibulum. Suspendisse luctus et lorem eu interdum. Fusce vehicula massa fringilla, elementum tortor feugiat, sodales lacus. Duis posuere, nunc sit amet faucibus rutrum, ipsum ligula fermentum eros, eu condimentum neque massa ut ex. Aliquam egestas sapien turpis, eu iaculis velit pulvinar vel. Cras at diam quis turpis tincidunt condimentum eget
        nec quam.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque enim risus, sollicitudin non auctor quis, convallis a leo.</p>

    <div class="row">
        @@include('./blog-card.html',{
        'imageSource':'./images/blog-1.jfif',
        'cardTitle':'Photography',
        'cardDescription':'Proin a sagittis nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut rutrum ligula quis ultricies vestibulum.' })

        @@include('./blog-card.html',{
        'imageSource':'./images/blog-2.jfif',
        'cardTitle':'Adventure' ,
        'cardDescription':'Ut posuere ullamcorper euismod. Donec a justo pulvinar diam dictum lobortis vulputate non nisi. Vestibulum pellentesque eget lorem ultrices lobortis. Sed tempor vehicula ipsum, non pharetra velit dapibus id.' })

        @@include('./blog-card.html',{
        'imageSource':'./images/blog-3.jfif',
        'cardTitle':'Arts & Creation',
        'cardDescription':'Vivamus dictum sed nisi vitae suscipit. Morbi pellentesque justo non magna iaculis efficitur in quis magna. Vivamus consectetur placerat iaculis. Aenean in orci et libero auctor elementum non in diam. Suspendisse vel urna luctus, tristique purus a, commodo metus.' })

    </div>

</div>