.article {
  // &__image {
  //   height: fit-content;
  //   position: relative;
  //   &__frame {
  //     &--1 {
  //       position: absolute;
  //       left: 0;
  //       bottom: -2.4rem;
  //       background: #eaefed;
  //       aspect-ratio: 94/282;
  //       min-width: 9.4rem;
  //     }

  //     &--2 {
  //       margin-left: 2.4rem;
  //       position: relative;
  //     }
  //   }
  // }

  &__content {
    // padding: 8rem;
  }
  & h2 {
    letter-spacing: -0.02em;
  }
}

.article {
  &--hero & {
    &__image {
      height: fit-content;
      position: relative;
      &__frame {
        &--1 {
          position: absolute;
          left: 0;
          bottom: -2.4rem;
          background: #eaefed;
          aspect-ratio: 94/282;
          min-width: 9.4rem;
        }

        &--2 {
          margin-left: 2.4rem;
          position: relative;
        }
      }
    }

    &__content {
      background: $color-blue-off;
      border-top: 8px solid $color-dark;
      color: white;
    }
  }

  &--hero-index & {
    &__content {
      background: white;
      border-top: 8px solid $color-blue-off;
      color: $color-dark;
    }

    &__image {
      height: fit-content;
      position: relative;
      &__frame {
        &--1 {
          background: #eaefed;
          aspect-ratio: 1;
          min-width: 37.6rem;
        }
      }
    }
  }
}

.article {
  &--video {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include media-breakpoint-up(md) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }
  &--video & {
    &__image {
      background: $color-off-white;
      padding: 2.4rem;
      & .wrapper {
        position: relative;
      }

      &__frame {
        &--1{
          & video{
            height: 100%;
            width: 100%;
            pointer-events: none;
          }
        }
        &--2 {
          height: 6.764rem;
          width: 6.764rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
      }
    }
    &__content {
      padding: 3.8rem 0;

      @include media-breakpoint-up(xl) {
        padding: 0;
      }
      & h6 {
        margin-bottom: 4rem;
      }
      & h3 {
        margin-bottom: 4rem;
      }
      & a {
        // margin-bottom: 4rem;
      }
    }
  }
}
