.form {
  color: $color-dark;
  padding: 2.4rem;

  @include media-breakpoint-up(md) {
    padding: 4rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 8rem;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
    margin-top: 4.5rem;

    & label,
    & label {
      margin-bottom: 0.8rem;
    }
    & input {
      border-radius: 0;
      border: 2px solid $color-dark;
      outline: none;
      padding: 1.6rem;

      font-style: italic;

      &::placeholder,
      &::-moz-placeholder,
      &::-webkit-input-placeholder {
        font-style: italic;
        margin-left: 12px;
      }
      &:focus {
        outline: none;
      }
    }
    & .wrapper {
      gap: 2.4rem;
      @include media-breakpoint-up(md) {
        gap: 1.6rem;
      }
    }
 
  }
  & .group-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 4rem;
    }
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    // margin-bottom: 2.4rem;
    
   &--name{
    max-width: 40rem;
   }
  }

  &__group input {
    width: 100%;
  }
}

.custom-select {
  max-width: 40rem;
  position: relative;
  padding: 1.6rem;
  font-weight: 700;
  color: $color-dark;
  border: 2px solid $color-dark;
  &:focus {
    outline: none;
  }

  &::after{
    content: "";
    right: 1rem;
    top:45%;
    border: transparent ;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: $color-dark transparent  transparent  transparent ;
    z-index:99;
  }
}

// Modifiers
.form {
  &--newsletter {
    padding: 0;
    color: $color-chalk;
    & label {
      font-style: italic;
      font-weight: 400;
      margin-bottom: 1.6rem;
      color: $color-chalk;
    }
    & input {
      text-overflow: ellipsis;
      // padding-left: 1rem;
      padding: 0.8rem 1.2rem;
      background-color: transparent;
      border: 2px solid white;
      margin-bottom: 2.4rem;

      @include media-breakpoint-up(md) {
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: 1.6rem;
      }
      &::placeholder {
        font-style: italic;
        color: white;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
