.blog-list-hero {
  // position: relative;
  padding-block: 2.4rem;
  @include media-breakpoint-up(md) {
    padding-block: 4rem;
  }
  @include media-breakpoint-up(xl) {
    padding-block: 12rem;
  }

  & .image {
    &__caption {
      // position: absolute;
      right: 0;
      bottom: 0;
    }
    &__frame {
      @include media-breakpoint-up(md) {
        margin-bottom: -13.3vw; //152px
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: -14.3vw;
      }
      // margin-bottom: -20.4rem;
      & img {
        aspect-ratio: 840/473;
        @include media-breakpoint-up(md) {
        }
      }
    }
  }
}
