@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Inter";
  min-height: 100vh;
  margin: 0;
}
iframe {
  width: 100%;
  height: 100%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
:link,
:visited {
  text-decoration: none;
}
.main-container {
  width: 100vw;
  /* height: 100%; */
  height: 100vh;
  /* position: relative; */
  background-color: rgba(196, 23, 248, 0.733);

  display: flex;
}
.course-tab {
  /* height: 100%; */
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(241, 24, 169, 0.795);
}

.course-item {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aacb73;
  transition: height 0.2s ease, width 0.2s ease-in;
  vertical-align: middle;
  text-align: center;
}
.course-item-text {
  display: inline;
  text-transform: uppercase;
}
.course-item:hover {
  height: 200px;
  width: 200px;
}

.assignment-tab {
  /* overflow-y: hidden; */
}
.assignment-tab-content {
  height: 100%;
  overflow-y: scroll;
  display: none;
}
.assignment-tab-content--css{
  background-color: aqua;
}

.assignment-item {
  width: 200px;
  /* height: 200px; */
  background-color: #cde990;
  /* background-color: #ffdb89; */
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.assignment-item_number {
  display: inline-block;
  /* height: 2rem;
  width: 2rem; */
  border-radius: 50%;
  border: 9px solid white;
  background-color: white;
}

.assignment-item_demo,
.assignment-item_repo,
.assignment-item_opendetails {
  padding: 1.2rem 1.8rem;
  border: 2px solid white;
  min-width: 10rem;
  cursor: pointer;
  font-weight: 600;
  color: #ff0032;
}
.details-tab {
  background-color: #f56eb3;
  flex-grow: 1;
  padding: 2rem;
}
.assignment-item-details {
  display: none;
  background-color: #ffffe8;
  width: 100%;
  height: 100%;
}

div.active {
  display: block;
}
div.active-flex {
  display: flex;
}
.profile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  background-color: #ffffe8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile_pic {
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
  aspect-ratio: 1;
  /* overflow: hidden; */
  border: 5px solid brown;
  border-radius: 50%;
  padding: 1rem;
}
.profile_name h3 {
  text-transform: capitalize;
}
.toggle-profile {
  height: 2rem;
  width: 2rem;
  background-color: #ff0032;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  cursor: pointer;
}
