// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./abstract/replaced-variables";
@import "./abstract/config";

// @import "./abstract/mixins";

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
// @import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

// 5. Add additional custom code here
// Abstracts
@import "./utilities/typo-calc";
// @import "./utilities/typo";

@import "./mixins/font-properties";
@import "./mixins/breakpoint";
@import "./mixins/reset-agent-spacing";

@import "./abstract/list";
@import "./abstract/variables";
@import "./abstract/config-grid";

@import "./base/base";
@import "./base/typography";

@import "./utilities/helper";
@import "./utilities/shadow";
@import "./utilities/background";

@import "./components/cta.scss";
@import "./components/button";
@import "./components/form";
@import "./components/article";
@import "./components/service-point";
@import "./components/blog-card";
@import "./components/info-card";
@import "./components/info-block";
@import "./components/blog-card-01";
@import "./components/pagination";
@import "./components/modal";
@import "./components/offcanvas";
@import "./components/leaflet";

@import "./layouts/hero";
@import "./layouts/header";
@import "./layouts/blog-list-hero";
@import "./layouts/blog-hero";
@import "./layouts/contact-hero";

@import "./sections/section";
@import "./sections/section-lead";
@import "./sections/footer";
@import "./sections/blog-content";
@import "./sections/about-service";
@import "./sections/blog-list-main";
@import "./sections/index-carousel";
@import "./sections/index-testimonial";
@import "./sections/index-blogs";

@import "./pages/contact";

@import "./vendor/icon-style";
@import "./vendor/icon-variables";

// @import "../../img/outside-logo.svg";

// Grid configuration

// @import "./mixins/rem";
// @import "./abstract/config-grid";
