@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

a.inline-link{
    text-decoration: underline;
    color: #114E60;
    text-underline-position: under;
}