// * contain this section within a row
.blog-content-essay {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: 4rem;
  @include media-breakpoint-up(md) {
    padding-block: 8rem;
  }
  & .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-inline: 2.8rem;
  }
  & li {
    list-style-type: disc;
  }
  & figure {
    background: $color-off-white;
    & img {
      aspect-ratio: 335/201;
    }
    & figcaption {
      margin: 2.4rem 1.6rem 1.6rem;
    }
  }
}
// .blog-content > * , .blog-content .wrapper > *{
//   margin-bottom: 4rem;
// }
