//colors

// in cta-buttons
$color-dark: #222222;
$color-blue-off: #325288;
$color-blue-shade-green: #114e60;
$color-chalk: #f4fef3;
$color-off-white:#EAEFED;
$color-pink-faded:#F4EEE8;
$color-pink-rose:#F5CEBE;
$color-overlay:rgba(0, 0, 0, 0.75);



