@import url("./icon/style.scss");
@import url("./icon/variables.scss");

* {
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
li {
  list-style-type: none;
  text-align: justify;
}
a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.root {
  width: 100%;
}
.vl {
  height: 100%;
  border-right: 1px solid #dfe0eb;
  padding-right: 3.2rem;
}
.dashboard {
  display: flex;
  // max-width: 144rem;
  height: 100vh;
  overflow: hidden;
}

.dashboard_sidebar {
  background-color: #363740;
  color: #a4a6b3;
  min-width: 25.5rem;
  height: 100vh;
  // position: fixed;
  top: 0;
  overflow-y: auto;

  scrollbar-width: 0.1rem;
}
.sidebar_heading {
  padding: 4rem 3rem 6.4rem;
  display: flex;

  & picture {
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 1.2rem;
  }
}
.dashboard_sidebar nav ul {
  padding: 0;
  & li {
    &.active {
      background: #9fa2b450;
      color: white;
      border-left: 0.3rem solid #e5e5e5;
    }
    padding: 1.8rem 2.4rem;

    & i {
      margin-right: 2.4rem;
    }
  }
}
.dashboard_screen {
  background: #f7f8fc;
  flex-shrink: 0;
  flex-grow: 1;
  // margin-left: 25.5rem;
  align-self: stretch;
  overflow-y: auto;
}
.dashboard_screen_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 3rem 5.4rem;
  // position: sticky;
  // top: 0;
  z-index: 1;
  background: #f7f8fc;
}
.dashboard_screen_details {
  display: flex;
  align-items: center;

  & .icons {
    position: relative;
    & input {
      color: #4b506d;
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
      border: 2px solid #c5c7cd;
      /* outline: 2px solid brown; */

      &:focus {
        border: 2px solid #4b506d;
      }
      &:focus-visible {
        outline: none;
        border: 2px solid #4b506d;
      }
    }
    & i {
      cursor: pointer;
      margin-left: 2.4rem;
      color: #c5c7cd;
    }
  }
}

.dashboard_screen_details p.username {
  margin-left: 3.2rem;
  color: #252733;
  text-align: right;
  cursor: pointer;
  font-weight: 600;
}
.dashboard_screen_details .icons {
}
.profile-circle {
  height: 4.7rem;
  width: 4.7rem;

  cursor: pointer;
  overflow: hidden;
  margin-left: 1.4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.15rem solid #dfe0eb;
  position: relative;
}
.profile-circle figure {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.profile-circle figure img {
  border-radius: 50%;
}

.ticket_container {
  /* background: #f9f9f9; */
  background: #fff;
  /* padding: 3.2rem; */
  margin: 3rem;
  border: 1px solid #dfe0eb;
  border-radius: 0.8rem;
}

.ticket_classify {
  position: relative;
  & button {
    color: #4b506d;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    margin-left: 3.2rem;
    cursor: pointer;

    & i {
      margin-right: 0.8rem;
      color: #c5c7cd;
    }
  }
  & .filter-menu {
    position: absolute;
    background: #fff;
    border: 0.1rem solid #a4a6b3;
    border-radius: 1rem;

    height: fit-content;
    max-height: 15rem;
    width: fit-content;
    width: 14rem;
    max-width: 15rem;
    right: 0;

    & ol {
      padding-inline: 1rem;
      & li {
        & label {
          margin-left: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

/** ticket table  */

.ticket_table {
  width: 100%;
  border-collapse: collapse;
  & tbody {
  }
}
.ticket_table thead tr {
  background: #fff;
  // position: sticky;
  // top: 13rem;
}
.ticket_table th,
td {
  padding: 2.4rem 3rem;
  // border-bottom: 1px solid #dfe0eb;
}
.ticket_table tbody tr {
  border-bottom: 1px solid #dfe0eb;
  &:hover {
    cursor: pointer;
    background: #dde2ff;
  }
}

.ticket_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 3.2rem 4.8rem;
}
.ticket_header p {
  font-weight: 600;
}
.ticket_table_heading {
  color: #9fa2b4;
  text-align: left;
}

.ticket-details {
  display: flex;
}
.ticket-name,
.customer-name,
.ticket-date {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
}
.ticket-information,
.customer-date,
.ticket-time {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
  color: #c5c7cd;
  margin-top: 0.4rem;
}
.ticket-priority {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.38rem;
  letter-spacing: 0.05rem;
  color: white;
}
.ticket-delete {
  margin-right: 1rem;

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    &:hover{
      color:#f12b2c
    }
  }
}

.ticket-priority--high {
  background: #f12b2c;
}
.ticket-priority--low {
  background: #fec400;
}
.ticket-priority--normal {
  background: #29cc97;
}
.customer-avatar {
  height: 4.4rem;
  width: 4.4rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2.4rem;
  flex-shrink: 0;
}
.customer-avatar img {
  object-position: 0 10%;
}

.notification-dropdown {
  position: absolute;
  height: 10rem;
  width: 20rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #dfe0eb;
  right: -50%;
}
