.ticket_container {
 
    background: #fff;
    
    margin: 3rem;
    border: 1px solid #dfe0eb;
    border-radius: 0.8rem;
  }
  
  .ticket_classify {
    position: relative;
    & button {
      color: #4b506d;
      background: none;
      border: none;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.02rem;
      margin-left: 3.2rem;
      cursor: pointer;
  
      & i {
        margin-right: 0.8rem;
        color: #c5c7cd;
      }
    }
    & .filter-menu {
      position: absolute;
      background: #fff;
      border: 0.1rem solid #a4a6b3;
      border-radius: 1rem;
  
      height: fit-content;
      max-height: 15rem;
      width: fit-content;
      width: 14rem;
      max-width: 15rem;
      right: 0;
  
      & ol {
        padding-inline: 1rem;
        & li {
          & label {
            margin-left: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }