@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:wght@300;400;700;800&family=Open+Sans:wght@300;400&family=Poppins:wght@400;500;700&family=Roboto+Slab:wght@200;400;800&display=swap");

html {
  font-family: "Poppins";
font-size: 10px;
}

a:link, a:visited{
  text-decoration: none;
  color: inherit;
}

body{

  @include respond(phone){
    margin: 0;
  }
}