
html {
  font-size: 10px;
}
body {
  margin: 0;
}
.container {
  width: 50rem;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  margin-top: 10vh;
}

.box {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  /* border: 2px solid red; */
}
.box-0 {
  background-color: rgba(211, 12, 12, 0.562);

}
.box-1 {
  background-color: rgba(226, 19, 181, 0.699);
  
}
.box-2{
  background-color: rgb(145, 224, 224);
}
.box-3{
  background-color: rgb(145, 224, 145);

}
